* {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.gameContainer {
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.spaces {
    border-style: solid;
    color: tan;
}

.flexRow1 {
    border-style: solid;
    flex: 1;
    display: flex;
}

.flexRow2 {
    border-style: solid;
    flex: 5;
    display: flex;
    flex-direction: row-reverse;
}

.flexCol1 {
    border-style: solid;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
}

.flexCol2 {
    border-style: solid;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.innerContainer {
    display: flex;
    flex: 5;
}

.flexRow3 {
    border-style: solid;
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
}